body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(166, 164, 164);
    margin: 20px;
}
header, section, footer {
    margin-bottom: 20px;
}
.top-menu {
    background-color: rgba(0, 0, 0, 0.687);
    color: black;
    padding: 10px 0;
    width: 100%;
  }
  .top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .top-menu ul li {
    display: inline;
  }
  .top-menu ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  .top-menu ul li a:hover {
    background-color: gray;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: black;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
h2.clickable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}
.audio-button {
    background-color: lightgray;
    border: 1px solid ivory;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}
.audio-button:hover {
    background-color: ivory;
}
.audio-icon {
    display: none;
}
