body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
.top-menu {
  background-color: rgba(0, 0, 0, 0.687);
  color: black;
  padding: 10px 0;
}

.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.top-menu ul li {
  display: inline;
}
.top-menu ul li a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}
.top-menu ul li a:hover {
  background-color: gray;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  z-index: 1;
  top: 100%;
  left: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.container {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}
.container label{
  font-weight: bold;
}
.container input[type="text"], .container textarea{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 1px;
  border:1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
}
.container input[type="radio"], .container input[type="checkbox"]{
  margin-right: 5px;
}
.container input[type="submit"]:hover {
  background-color:brown;
}
header, section, footer{
  margin-bottom: 20px;
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
h2{
  color: darkgrey;
}
.post{
  border: 1px solid ivory;
  padding: 10px;
  margin-bottom: 15px;
  background-color: lightgray;
  width: 550px;
  height: 80px;
  border: 1px solid;
  overflow:auto;
}

.pages {
    display: inline-block;
  }
  
  .pages a {
    color: black;
    padding: 8px 16px;
    position: relative;
    left: 40%;
    text-decoration: none;
  }
  
  .pages a.active {
    background-color: rgba(0, 0, 0, 0.687);
    color: white;
  }
  
  .pages a:hover:not(.active) {background-color: gray;}

  @media only screen and (max-width: 600px) {
    .top-menu{
      width:600px;
      padding: 10px 0;
    }
    .top-menu ul li {
      display: inline-block;
    }
    .top-menu ul li a{
      font-size: 25px;
    }    
    .dropdown-content {
      position: absolute;
      display: none;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    #section2 {
      white-space: nowrap;
    }
    .container {
      width: 150%;
    }
    .pages a {
      left: 50%;
    }
    footer {
      left: 50%;
    }
  }
