body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: #333;
    margin: 0;
    padding: 0;
}
.nav {
    border: solid 2px;
    background-color: green;
    border-radius: 2px;
    height: 30px;
    display: flex;
    box-shadow: 4PX 8PX 9PX;
    margin: 10px;
}
.navButton{
    font-size: 18px;
    background-color: darkgrey;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    color: black;
    text-decoration: none;
}
a.navButton:hover{
    background-color: green;
}
.navButton:last-child{
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    margin-top: 0;
    color: green;
}

p {
    margin-bottom: 20px;
}
